*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(5, 152, 197);
  color: ghostwhite;
  font-size: 2rem;
 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px 0;

 
  /* margin-top: 100px; */
}


h2 {
  text-align: center;
}

.title {
  font-size: 7rem;
  background: linear-gradient(90deg, aquamarine 10%, yellow 15%, ghostwhite 43%, red 30%, aquamarine 75%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 12px transparent;
  color: #000;
  font-style: oblique;
}

.menu-holder {
  padding: 3rem;
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
  
}



.cuisine, .beverage {
  /* margin-bottom: 22rem; */
  /* margin-top: 60px; */
  border: 2px solid ghostwhite;
  border-radius: 20px;
  padding: 10px;
  margin: 5rem;
  
}


[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative; 
  opacity: 1; 
  display: block;
}

.spacer {
  margin: 5rem;
}
